*{
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}
.canvas{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}